@import '../../node_modules/highlight.js/styles/monokai-sublime';

preso-code {
  overflow: hidden;
  display: block;
  position: relative;
  height: 0;

  & pre {
    margin: 0;
    position: relative;
  }

  & .hljs {
    padding: 0;
    background: none;
  }
}

.preso-code {
  &__highlights {
    opacity: 0.2;
  }
  &__highlight {
    position: absolute;
    background: #fff;

    // 5px padding around the highlight
    padding: 10px;
    margin: -10px 0 0 -10px;
  }
  &__char {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
  }
}
