:host {
  background: #000;
  overflow: hidden;
  position: relative;
  
  &:focus {
    outline: none;
  }
}

.preso {
  &__layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
  }

  &__cell {
    flex: 1;
  }

  &__resize-observer {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

::slotted(.preso__stage) {
  position: absolute;
  transform-origin: 0 0;
}

::slotted(preso-notes) {
  position: absolute;
  transform-origin: 0 0;
}