:host {
  overflow: hidden;
  position: relative;
  
  &:focus {
    outline: none;
  }
}

.preso {
  &__layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  &__resize-observer {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

::slotted(.preso__stage) {
  position: absolute;
  width: var(--preso-width);
  height: var(--preso-height);
  transform-origin: 0 0;
}

::slotted(preso-notes) {
  position: absolute;
  width: var(--preso-notes-width);
  height: var(--preso-notes-height);
  transform-origin: 0 0;
}