preso-img {
  display: inline-block;
  opacity: 0.0001;
  will-change: opacity;
}

.preso-img {
  &--show {
    opacity: 1;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
