preso-notes {
  background: #000;
	color: #fff;
	font: normal 38px/1.3 sans-serif;
}

.preso-notes-view {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.preso-notes-list {
  margin: 0;
  padding: 0;
  flex: 1;

  &__item {
    display: block;
    padding: 0.7em;

    &:nth-child(even) {
      background: #222;
    }
  }
}

.preso-slide-list {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-flow: column wrap;

  &__item {
    display: block;
    padding: 0;
  }
  &__button {
    padding: 0.7em;
    font: inherit;
    color: inherit;
    border: none;
    background: none;
  }
}

.preso-notes-time {
  padding: 0.7em;
}

.preso-notes__controls {
  display: flex;
}

.preso-notes__buttons {
  margin-left: auto;
  margin-right: 0;
  display: flex;
}

.preso-notes__button {
  margin-right: 0.7em;
  fill: white;
  font: inherit;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  text-indent: -1000px;
  overflow: hidden;
  width: 1.6em;

  & svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Popup stuff
.notes-popup {
  background: #000;
  & body {
    margin: 0;
  }
  & preso-notes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: 0 0;
  }
  & .preso-notes__popout-button {
    display: none;
  }
}